@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,300;1,400&display=swap');

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  color: #2a3726;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 100px 1fr;
  grid-template-areas:
    'header header'
    'sidebar content';
  height: 100vh;
}

h1 {
  text-align: center;
  font-size: 60px;
  margin: 15px;
  color: #b5c0a2;
}

.header {
  grid-area: header;
  background-color: #2a3726;
}

.sidebar {
  grid-area: sidebar;
  background-color: #b5c0a2;
}

.content {
  grid-area: content;
  background-color: #f0efe9;
}

div.sidebar > ul {
  list-style-type: none;
  font-size: 20px;
  text-align: left;
  padding: 0;
  margin-left: 40px;
}

div.content > ul {
  font-size: 20px;
  text-align: left;
  padding: 0;
  margin-left: 40px;
}

li {
  padding: 10px;
  font-weight: lighter;
}

ul.projects > li:hover {
  font-weight: bold;
}

.isPriority {
  color: lightcoral;
  font-weight: bold;
}

.isFinished {
  color: green;
  text-decoration: line-through;
}

.projectIsSelected {
  font-weight: 900;
  color: #2a3726;
}

h2 {
  color: #2a3726;
  text-decoration: underline;
  font-size: 40px;
  margin-left: 50px;
}

p {
  margin: 0;
  color: #2a3726;
  font-style: italic;
  font-size: 17px;
}

button {
  border: #2a3726 solid;
  background-color: #b5c0a2;
  color: #2a3726;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  font-weight: bold;
  margin-left: 45px;
}

button:hover {
  background-color: #2a3726;
  color: #b5c0a2;
}

div.sidebar > button {
  background-color: #2a3726;
  color: #b5c0a2;
}

div.sidebar > button:hover {
  background-color: #b5c0a2;
  color: #2a3726;
}

li > button {
  background-color: lightcoral;
}
