@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,300;1,400&display=swap');

body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 100px 1fr;
  grid-template-areas:
    'header header'
    'sidebar content';
  height: 100vh;
}

h1 {
  text-align: center;
  font-size: 60px;
  margin: 15px;
}

.header {
  grid-area: header;
  background-color: royalblue;
}

.sidebar {
  grid-area: sidebar;
  background-color: lightgray;
}

.content {
  grid-area: content;
}

h2 {
  font-size: 40px;
  text-align: center;
}

ul {
  list-style-type: none;
  font-size: 20px;
  text-align: center;
  padding: 0;
}

li {
  padding: 10px;
}

.isPriority {
  color: red;
}

.isFinished {
  color: green;
}

.projectIsSelected {
  font-weight: bold;
}
